## Setup

This guide was written in Python 3.5 and R 3.2.3.

### Python and Pip

Download [Python](https://www.python.org/downloads/) and [Pip](https://pip.pypa.io/en/stable/installing/).

### R and R Studio

Install [R](https://www.r-project.org/) and [R Studio](https://www.rstudio.com/products/rstudio/download/).

### Other

Let's install the modules we'll need for this tutorial. Open up your terminal and enter the following commands to install the needed python modules: 

```
pip3 install zipfile
pip3 install os
pip3 install pandas
```

Next, to install the R packages, cd into your workspace, and enter the following, very simple, command into your bash: 

```
R
```

This will prompt a session in R! From here, you can install any needed packages. For the sake of this tutorial, enter the following into your terminal R session:

```
install.packages("dplyr")
install.packages("downloader")
```

## Introduction

We've gone over Data Acquisition as of now, so we know how to <i>get</i> our data. But once you have the data, it might not be in the best shape. You might have scraped a bunch of data from a website, but need it in the form of a dataframe to work with it in an easier manner. This process is called data preparation - preparing your data in a format that's easiest to form with.

### Overview

<b> Data Acquisition: </b> Reading and writing with a variety of file formats and databases. <br>
<b> Preparation: </b> Cleaning, munging, combining, normalizing, reshaping, slicing and dicing, and transforming data for analysis. <br>
<b> Transformation: </b> Applying mathematical and statistical operations to groups of data sets to derive new data sets. For example, aggregating a large table by group variables. <br>
<b> Modeling and computation: </b> Connecting your data to statistical models, machine learning algorithms, or other computational tools <br>
<b> Presentation: </b> Creating interactive or static graphical visualizations or textual summaries <br>

### Glossary

Here is some common terminology that we'll encounter throughout the workshop:

<b> Munging/Wrangling: </b> This refers to the overall process of manipulating unstructured or messy data into a structured or clean form.

## Pandas

Pandas allows us to deal with data in a way that us humans can understand it - with labelled columns and indexes. It allows us to effortlessly import data from files such as CSVs, allows us to quickly apply complex transformations and filters to our data and much more. Along with Numpy and Matplotlib, it helps create a really strong base for data exploration and analysis in Python.

In [10]:
import pandas as pd 
from pandas import Series, DataFrame
import numpy as np

### Series

A Series is a one-dimensional array-like object containing an array of data (of any NumPy data type) and an associated array of data labels, called its index. The simplest Series is formed from only an array of data:

In [2]:
obj = Series([4, 7, -5, 3])

Often it will be desirable to create a Series with an index identifying each data point:

In [3]:
obj2 = Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

You can also take a dictionary and convert it to a Series:

In [4]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = Series(sdata)

### DataFrames

A DataFrame represents a tabular, spreadsheet-like data structure containing an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.).

There are numerous ways to construct a DataFrame, though one of the most common is from a dict of equal-length lists or NumPy arrays:

In [5]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 'year': [2000, 2001, 2002, 2001, 2002], 'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

Then we take this and convert it to a DataFrame:

In [6]:
frame = DataFrame(data)

This gets us:

In [7]:
print(frame)

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

You can also specify the sequence of columns by:

In [8]:
DataFrame(data, columns=['year', 'state', 'pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9

### Apply

Lets's generate a random dictionary:

In [11]:
frame = DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])

With this, we can apply a function on a DataFrame:

In [12]:
np.abs(frame)

               b         d         e
Utah    0.697009  0.197018  0.811390
Ohio    0.500080  0.966294  0.918604
Texas   0.248063  0.253511  0.983183
Oregon  1.720069  2.286284  1.775377

We can also apply functions with the `apply()` method:

In [13]:
f = lambda x: x.max() - x.min()
frame.apply(f)

b    2.220149
d    3.252578
e    2.693981
dtype: float64

#### Sorting

To sort lexicographically by row or column index, use the sort_index method, which returns a new, sorted object:

In [14]:
frame.sort_index()

               b         d         e
Ohio    0.500080 -0.966294  0.918604
Oregon -1.720069  2.286284 -1.775377
Texas  -0.248063  0.253511 -0.983183
Utah   -0.697009  0.197018  0.811390

Naive Bayes works on Bayes Theorem of probability to predict the class of a given data point. Naive Bayes is extremely fast compared to other classification algorithms and works with an assumption of independence among predictors. 

The Naive Bayes model is easy to build and particularly useful for very large data sets. Along with simplicity, Naive Bayes is known to outperform even highly sophisticated classification methods.

### Challenge

Recall Bayes Theorem, which provides a way of calculating the posterior probability. Its formula is as follows:

![alt text](https://github.com/ByteAcademyCo/stats-programmers/blob/master/bayes.png?raw=true "Logo Title Text 1")

Let's go through an example of how the Naive Bayes Algorithm works using `pandas`. We'll go through a classification problem that determines whether a sports team will play or not based on the weather. 

First, let's load the module data:

In [1]:
import pandas as pd
f1 = pd.read_csv("./weather.csv")

#### Frequency Table

The first actual step of this process is converting the dataset into a frequency table. Using the `groupby()` function, we get the frequencies:

In [11]:
f1

     Weather Play
0      Sunny   No
1   Overcast  Yes
2      Rainy  Yes
3      Sunny  Yes
4      Sunny  Yes
5   Overcast  Yes
6      Rainy   No
7      Rainy   No
8      Sunny  Yes
9      Rainy  Yes
10     Sunny   No
11  Overcast  Yes
12  Overcast  Yes
13     Rainy   No

AttributeError: 'DataFrame' object has no attribute 'nrows'

In [15]:
df = f1.groupby(['Weather','Play']).size()
print(df)

Weather   Play
Overcast  Yes     4
Rainy     No      3
          Yes     2
Sunny     No      2
          Yes     3
dtype: int64

Now let's split the frequencies by weather and yes/no. Let's start with the three weather frequencies:

In [13]:
df2 = f1.groupby('Weather').count()
print(df2)

          Play
Weather
Overcast     4
Rainy        5
Sunny        5

Now let's get the frequencies of yes and no:

In [18]:
df1 = f1.groupby('Play').count()
print(df1)

      Weather
Play
No          5
Yes         9

#### Likelihood Table


Next, you would create a likelihood table by finding the probabilites of each weather condition and yes/no. This will require that we add a new column that takes the play frequency and divides it by the total data occurances.

In [25]:
df1['Likelihood'] = df1['Weather']/len(f1)
df2['Likelihood'] = df2['Play']/len(f1)

This gets us dataframes that looks like:

In [27]:
print(df1)
print(df2)

      Weather  Likelihood
Play
No          5    0.357143
Yes         9    0.642857
          Play  Likelihood
Weather
Overcast     4    0.285714
Rainy        5    0.357143
Sunny        5    0.357143

Now, we're able to use the Naive Bayesian equation to calculate the posterior probability for each class. The highest posterior probability is the outcome of prediction.

#### Calculation

So now we need a question. Let's propose the following: "Players will play if the weather is sunny. Is this true?"

From this question, we can construct Bayes Theorem. So what's our P(A|B)? P(Yes|Sunny), which gives us:

P(Yes|Sunny) = (P(Sunny|Yes)*P(Yes))/P(Sunny)

Based off the likelihood tables we created, we just grab P(Sunny) and P(Yes).

In [29]:
ps = df2['Likelihood']['Sunny']
print("Sunny Likelihood: %f" % ps) 
py = df1['Likelihood']['Yes']
print("Yes Likelihood: %f" %py)

Sunny Likelihood: 0.357143
Yes Likelihood: 0.642857

That leaves us with P(Sunny|Yes). This is the probability that the weather is sunny given that the players played that day. In `df`, we see that the total number of `yes` days under `sunny` is 3. We take this number and divide it by the total number of `yes` days, which we can get from `df`.

In [30]:
psy = df['Sunny']['Yes']/df1['Weather']['Yes']
print(psy)

0.333333333333

Now, we just have to plug these variables into bayes theorem:

In [32]:
p = (psy*py)/ps
print(p)

0.6

This tells us that the answer to our original question is yes!

## Extracting Zipfiles

Oftentimes, you'll have to download a large number of files. They might come in the form of zipfiles. Instead of manually unzipping them, you can use Python to extract these files for you, using the `os` and `zipfile` modules. 

### OS Module

The `os` module provides us a portable way of using operating system dependent functionality. We'll begin exploring it's capabilities now:

In [33]:
import os

With the `os.getcwd()` method, we can get the current directory we're in. This is particularly useful when working with a large number of files in a certain folder. In this case, we'll use `os` to work with the zipfiles:

In [34]:
cwd = os.getcwd()
dir_path  = os.path.join(cwd, 'Example')

With `os`, you can check to see if a certain directory exists. Here, if it doesn't exist, we create that folder, which we can do with the `os.makedirs()` function:

In [35]:
if not os.path.exists(dir_path):
    os.makedirs(dir_path)

Lastly, as we do with the `ls` command on the terminal, we can use `os.listdir()` to get the contents of whatever path we provide as an argument.

In [36]:
os.listdir(cwd)

['.DS_Store',
 '.git',
 '.gitignore',
 '.ipynb_checkpoints',
 'build',
 'Data Preparation.ipynb',
 'dorms.csv',
 'ex.R',
 'Example',
 'example.zip',
 'housing.csv',
 'intro-data-prep.md',
 'Makefile',
 'msleep_ggplot2.csv',
 'names_add.csv',
 'names_extra.csv',
 'names_original.csv',
 'output.html',
 'README.md',
 'uk_rain_2014.csv',
 'weather.csv']

From there, we can move onto working with zipfiles!

### ZipFile

The `zipfile` module is a powerful module that allows us to extract files from a zipped folder. First, we import the needed modules and assign the name of the zipfile we'll be extracting to a variable:

In [38]:
import zipfile
import os
zip_name = 'example.zip'

Next, we get the current directory path and join it with the zipfile name to get its exact path:

In [39]:
cwd = os.getcwd()
zip_path = os.path.join(cwd, zip_name)

Next, we use the ZipFile class to change the file to a Zipfile object. With this object, we use the `ZipFile.extract()` function to extract all the contents:

In [40]:
with zipfile.ZipFile(zip_path, 'r') as z:
    z.extractall(cwd)

And lastly, we can see what's in the zipfile with:

In [41]:
os.listdir(dir_path)

[]

## Data Merging

If you encounter two different datasets that contain the same type of information, you might consider merging them for your analyses. This is yet another functionality built into `pandas`. 

Let's go through an example containing student data. `d1` contains 5 of the samples and `d2` contains 2 of them:

In [46]:
d1 = pd.read_csv("./names_original.csv")
print(d1)

  First Name  Last Name
0     Lesley    Cordero
1       Ojas      Sathe
2      Helen       Chen
3        Eli   Epperson
4      Jacob  Greenberg

In [47]:
d2 = pd.read_csv("./names_add.csv")
print(d2)

  First Name Last Name
0     Martin     Perez
1      Menna   Elsayed

### Concatenation 

Instead of working with two separate datasets, it's much easier to simply merge, so we do this with the `concat()` function:

In [44]:
result = pd.concat([d1,d2])

Now, you might be asking what will happen if one of the datasets has more columns than other - will they still be allowed to merge? Let's try this example with another dataset:

In [48]:
d3 = pd.read_csv("./names_extra.csv")
print(d3)

  First Name Last Name                   Major
0     Martin     Perez  Mechanical Engineering
1      Menna   Elsayed               Sociology

If we use the same `concat()` function, we get:

In [50]:
result1 = pd.concat([d1, d3])
print(result1)

  First Name  Last Name                   Major
0     Lesley    Cordero                     NaN
1       Ojas      Sathe                     NaN
2      Helen       Chen                     NaN
3        Eli   Epperson                     NaN
4      Jacob  Greenberg                     NaN
0     Martin      Perez  Mechanical Engineering
1      Menna    Elsayed               Sociology

Notice the `NaN` values - these are undefined values indicating there wasn't any data to be displayed. `pandas` will simply fill in the missing data for each sample where it's unavailable:

### Merging

Now, how do we merge two datasets with differing columns? Well, let's take a look at our datasets:

In [51]:
h1 = pd.read_csv("./housing.csv")
print(h1)

          Dorm            Name
0  East Campus      Helen Chen
1     Broadway   Danielle Jing
2      Shapiro    Craig Rhodes
3         Watt  Lesley Cordero
4  East Campus    Martin Perez
5     Broadway   Menna Elsayed
6      Wallach   Will Essilfie

In [52]:
h2 = pd.read_csv("./dorms.csv")
print(h2)

          Dorm Street    Cost
0     Broadway  114th    9000
1      Shapiro  115th    9500
2         Watt  113th   10500
3  East Campus  116th  11,000
4      Wallach  114th    9500

With the `merge()` function in pandas, we can specify which column to merge on and what kind of join to specify. By default merge does an 'inner' join, but here we set it to a left join:

In [54]:
house = pd.merge(h1, h2, on="Dorm", how="left")
print(house)

          Dorm            Name Street    Cost
0  East Campus      Helen Chen  116th  11,000
1     Broadway   Danielle Jing  114th    9000
2      Shapiro    Craig Rhodes  115th    9500
3         Watt  Lesley Cordero  113th   10500
4  East Campus    Martin Perez  116th  11,000
5     Broadway   Menna Elsayed  114th    9000
6      Wallach   Will Essilfie  114th    9500