## Homework Assignment 1

### Part 1 

Write a script to transform input CSV to desired output CSV. 

You will find a CSV file available for download in this repo: test.csv. There are three steps to this part of the homework. Each step concerns manipulating the values for a single field according to the step's requirements. The steps are as follows:

- String cleaning - The bio field contains text with arbitrary padding, spacing and line breaks. Normalize these values to a space-delimited string.
- Code swap - There is a supplementary CSV file for download here: state_abbreviations.csv. This "data dictionary" contains state abbreviations alongside state names. For the state field of the input CSV, replace each state abbreviation with its associated state name from the data dictionary.
- Date offset - The start_date field contains data in a variety of formats. These may include e.g., "June 23, 1912" or "5/11/1930" (month, day, year). But not all values are valid dates. Invalid dates may include e.g., "June 2018", "3/06" (incomplete dates) or even arbitrary natural language. Add a start_date_description field adjacent to the start_date column to filter invalid date values into. Normalize all valid date values in start_date to ISO 8601 (i.e., YYYY-MM-DD).

Your script should take "test.csv" as input and produce a cleansed "solution.csv" file according to the step requirements above. Please attach your "solution.csv" file along with your solution code in your pull request!

In [1]:
import pandas as pd

In [74]:
df = pd.read_csv('test.csv')

In [4]:
df.head()

,name,gender,birthdate,address,city,state,zipcode,email,bio,job,start_date
0,Nathalia Moore DDS,M,2006-01-24,04078 Maximilian Brooks Suite 319,Montgomeryland,LA,63077,leeann.hermann@yahoo.com,Autem vero aliquid repellendus illo distinctio...,Tax inspector,12/31/1991
1,Mrs. Ottilie Grady,F,1972-03-01,6378 Gerhold Glens Suite 234,New Conortown,MA,19394,sunday99@schummgreenfelder.com,Culpa possimus laudantium earum ducimus dolori...,"Merchandiser, retail",10/84
2,Ignacio Kuhic,M,2004-07-25,628 Brown Mission Suite 282,East Hildegarde,IA,49353,smetz@ortiz.com,Illum quos qui voluptatum sit ex nesciunt inve...,Broadcast journalist,February 2009
3,Ms. Suzie Luettgen,F,2006-08-19,81525 Donnelly Mountains Apt. 227,Port Luztown,NY,60325,von.elizabeth@wunsch.org,Laboriosam esse dolor et quas maiores deleniti...,Early years teacher,"December 10, 1980"
4,Trumaine Hammes,M,1990-01-14,118 Alphonso Islands Apt. 613,Bookerberg,CT,56335,schmidt.gwen@hotmail.com,Amet cumque animi sint nisi placeat quis aut n...,Ranger/warden,10/07/1981

In [ ]:
df.tail()
df.shape
df.column
len(df.index)

In [79]:
# Make a copy of the data frame
mod_df = df.copy()
mod_df

In [80]:
# String cleaning
mod_df['bio'] = mod_df['bio'].apply(lambda x: " ".join(x.split()))

In [119]:
# Read the state_abbreviations.csv into a pandas data frame
state_names = pd.read_csv('state_abbreviations.csv')

# Convert the state_names dataframe to a dictionary
sn_dict = dict((i, a) for i, a in zip(state_names.state_abbr, state_names.state_name))

In [149]:
# update the state abbreviations to state names in mod_df

for i in range(len(df_state.index)):
    mod_df.loc[i, 'state'] = sn_dict[mod_df.loc[i, 'state']]

In [151]:
new_df = df.copy()

In [163]:
pd.to_datetime(new_df['start_date'], errors = 'coerce')

0     1991-12-31
1     1984-10-01
2     2009-02-01
3     1980-12-10
4     1981-10-07
5            NaT
6     1977-06-26
7     2001-07-03
8     2001-11-01
9     1970-09-25
10           NaT
11    1981-04-01
12    1991-05-01
13           NaT
14    1995-12-01
15    2002-03-01
16    2003-11-18
17    1979-08-01
18    1977-09-30
19    1983-05-01
20    1970-05-15
21           NaT
22           NaT
23           NaT
24    1973-07-01
25           NaT
26           NaT
27    1978-03-16
28           NaT
29           NaT
         ...
470          NaT
471          NaT
472   1976-05-17
473          NaT
474          NaT
475          NaT
476   1998-03-05
477   1982-08-07
478   1973-09-01
479          NaT
480          NaT
481   1980-06-01
482   1989-12-01
483   1991-03-01
484   1998-01-01
485          NaT
486   2013-08-01
487          NaT
488   1987-02-08
489          NaT
490   1997-12-01
491   1984-04-14
492   2011-09-06
493          NaT
494   1992-11-22
495          NaT
496          NaT
497          NaT
498          NaT
499   1987-05-01
Name: start_date, Length: 500, dtype: datetime64[ns]

In [158]:
new_df['start_date']

0                12/31/1991
1                     10/84
2             February 2009
3         December 10, 1980
4                10/07/1981
5         Facere voluptate.
6             June 26, 1977
7              July 3, 2001
8             November 2001
9        September 25, 1970
10                    05/13
11                    04/81
12                    05/91
13                    03/14
14                    12/95
15               March 2002
16        November 18, 2003
17              August 1979
18       September 30, 1977
19                 May 1983
20             May 15, 1970
21       Adipisci delectus.
22      Sed consequatur in.
23                    04/04
24                    07/73
25     Ducimus eligendi et.
26       Aut impedit culpa.
27               03/16/1978
28          In dolorum eum.
29      Autem molestiae in.
               ...
470     Cupiditate quaerat.
471    Qui officiis beatae.
472              1976-05-17
473     Est nulla sapiente.
474              Similique.
475         Tempore soluta.
476              1998-03-05
477          August 7, 1982
478                   09/73
479     Ducimus recusandae.
480       Est perspiciatis.
481               June 1980
482           December 1989
483              March 1991
484                   01/98
485     Iste quia beatae a.
486          August 1, 2013
487     Sequi ut explicabo.
488        February 8, 1987
489              Molestiae.
490           December 1997
491          April 14, 1984
492       September 6, 2011
493                   06/10
494       November 22, 1992
495       Officia vel unde.
496                   03/13
497        Est magni culpa.
498    Eum voluptatem quis.
499                May 1987
Name: start_date, Length: 500, dtype: object

In [173]:
df[df['name'] == 'Mrs. Ottilie Grady']

,name,gender,birthdate,address,city,state,zipcode,email,bio,job,start_date
1,Mrs. Ottilie Grady,F,1972-03-01,6378 Gerhold Glens Suite 234,New Conortown,MA,19394,sunday99@schummgreenfelder.com,Culpa possimus laudantium earum ducimus dolori...,"Merchandiser, retail",10/84