# Assignment 1

In this problem, you will work on linear regression with multiple features using gradient descent. On piazza there's a file named `input2.csv`, containing a series of data points.

Each point is a comma-separated ordered triple, representing age, weight, and height (derived from CDC growth charts data).

In [27]:
import numpy as np
import pandas as pd
import statistics as st

In [10]:
col_labels = ['age', 'weight', 'height']

In [12]:
df = pd.read_csv('input2.csv', header=None)

In [13]:
df.columns = col_labels

In [14]:
df.head()

    age    weight    height
0  2.00  10.21027  0.805248
1  2.04  13.07613  0.919474
2  2.13  11.44697  0.908350
3  2.21  14.43984  0.803756
4  2.29  12.59622  0.811357

In [30]:
df.tail()

     age    weight    height
74  8.13  20.31464  1.384097
75  8.21  29.81185  1.213855
76  8.29  20.65887  1.218047
77  8.38  26.82559  1.414521
78  8.46  40.94614  1.301148

In [29]:
df.describe()

             age     weight     height
count  79.000000  79.000000  79.000000
mean    5.210506  18.306604   1.096461
std     1.911619   6.156544   0.147693
min     2.000000  10.210270   0.803756
25%     3.585000  13.483010   0.990245
50%     5.210000  16.833040   1.093230
75%     6.835000  20.486755   1.174633
max     8.460000  40.946140   1.414521

### Data Preparation and Normalization. 

Once you load your dataset, explore the content to identify each feature. Remember to add the vector 1 (intercept) ahead of your data matrix. You will notice that the features are not on the same scale. They represent age (years), and weight (kilograms). What is the mean and standard deviation of each feature?

In [26]:
age_mean = np.mean(df['age'])
age_std = np.std(df['age'])
wt_mean = np.mean(df['weight'])
wt_std = np.std(df['weight'])
print(age_mean, age_std, wt_mean, wt_std)

5.21050632911 1.89948154068 18.3066043038 6.11745394303

In [28]:
age_mean = st.mean(df['age'])
age_std = st.pstdev(df['age'])
wt_mean = st.mean(df['weight'])
wt_std = st.pstdev(df['weight'])
print(age_mean, age_std, wt_mean, wt_std)

5.21050632911 1.8994815406783148 18.3066043038 6.117453943030793

In [31]:
df['intercept'] = 1

In [34]:
df = df[['intercept', 'age', 'weight', 'height']]

In [39]:
df

    intercept       age    weight    height
0           1 -3.632943 -1.323481  0.805248
1           1 -3.621856 -0.855008  0.919474
2           1 -3.596912 -1.121322  0.908350
3           1 -3.574739 -0.632087  0.803756
4           1 -3.552566 -0.933458  0.811357
5           1 -3.527622 -1.272867  0.948997
6           1 -3.505449 -0.884589  0.966450
7           1 -3.483277 -1.011807  0.928840
8           1 -3.458332 -0.252679  0.862050
9           1 -3.436159 -1.160166  0.981163
10          1 -3.413987 -0.787497  0.988378
11          1 -3.389042 -1.054501  1.004748
12          1 -3.366870 -1.105572  1.001915
13          1 -3.344697 -0.883437  0.993490
14          1 -3.319752 -0.861663  0.897487
15          1 -3.297580 -1.050206  0.888726
16          1 -3.275407 -1.031435  0.932307
17          1 -3.250463 -1.058740  0.937784
18          1 -3.228290 -0.916235  1.050320
19          1 -3.206117  0.209381  1.056727
20          1 -3.181173 -0.301706  0.982125
21          1 -3.159000 -0.506648  0.910310
22          1 -3.136827 -0.479607  1.065316
23          1 -3.111883 -0.655788  1.028350
24          1 -3.089710 -0.789497  0.925575
25          1 -3.067537 -0.767549  0.930686
26          1 -3.042593 -0.831713  1.101614
27          1 -3.020420 -0.863463  0.992113
28          1 -2.998247 -0.042010  1.114548
29          1 -2.973303 -0.008382  1.063936
..        ...       ...       ...       ...
49          1 -2.513218 -0.305768  1.057615
50          1 -2.488274  0.750915  1.245461
51          1 -2.466101  1.590400  1.251804
52          1 -2.443928  1.908180  1.167406
53          1 -2.418984  1.342783  1.089877
54          1 -2.396811  0.498797  1.215447
55          1 -2.374638 -0.160868  1.118232
56          1 -2.349694  1.862925  1.123483
57          1 -2.327521  1.919298  1.110545
58          1 -2.305349  0.294839  1.309295
59          1 -2.280404  0.069939  1.108909
60          1 -2.258231  0.709288  1.175754
61          1 -2.236059 -0.012841  1.149112
62          1 -2.211114  0.012248  1.135427
63          1 -2.188942  2.272716  1.339077
64          1 -2.166769 -0.022474  1.330256
65          1 -2.141824  0.233384  1.313696
66          1 -2.119652  0.114182  1.173512
67          1 -2.097479  1.478480  1.159026
68          1 -2.072535  0.611208  1.367356
69          1 -2.050362  0.192632  1.168069
70          1 -2.028189  0.219233  1.263869
71          1 -2.003245  0.150984  1.368565
72          1 -1.981072  0.434976  1.388876
73          1 -1.958899  2.433651  1.318567
74          1 -1.933955  0.328247  1.384097
75          1 -1.911782  1.880725  1.213855
76          1 -1.889609  0.384517  1.218047
77          1 -1.864665  1.392570  1.414521
78          1 -1.842492  3.700810  1.301148

[79 rows x 4 columns]

The last column is the label, and represents the height (meters). Scale each feature (i.e. age and weight) by its (population) standard deviation, and set its mean to zero. (Can you see why this will help?) You do not need to scale the intercept.

In [38]:
df['age'] = (df['age'] - age_mean) / age_std
df['weight'] = (df['weight'] - wt_mean) / wt_std

For each feature x (a column in your data matrix), use the following formula for scaling:

$$x_{scaled} = \frac{x - \mu(x)}{stdev(x)}$$

### Gradient Descent

Implement gradient descent to find a regression model. Initialize your β’s to zero. Recall the empirical risk and gradient descent rule as follows:

$$R(\beta) = \frac{1}{2n}\Sigma_n^{i=0} (f(x_i) - y_i)^2$$

$$ \forall_j \beta_j := \beta_j - \sigma \frac{1}{n} \Sigma_n^{i=0}(f(x_i) - y_i)x_i $$

Run the gradient descent algorithm using the following learning rates: α ∈ {0.001, 0.005, 0.01, 0.05, 0.1, 0.5, 1, 5, 10}. For each value of α, run the algorithm for exactly 100 iterations.

Compare the convergence rate when α is small versus large. What is the ideal learning rate to obtain an accurate model?

In addition to the nine learning rates above, come up with your own choice of value for the learning rate. Then, using this new learning rate, run the algorithm for your own choice of number of iterations.

To visualize the result of each case of gradient descent, you can use matplotlib to output an image for each linear regression model in three-dimensional space. For instance, you can plot each feature on the xy-plane, and plot the regression equation as a plane in xyz-space.